<%=link_to "Send a message", new_message_url%>
<%@messages.each do |m| %>
<li>
<%if !m.is_read?%>
NOT READ
<%end%>
<a href = "<%=message_url(m.id)%>"> From: <%= m.sender.username%></a><br>
</li>
<%end%>