<%=link_to "Send a message", new_user_message_url(current_user.id)%>
<%@messages.each do |m| %>
<li>
<a href = "<%=user_message_url(current_user.id, m.id)%>"> From: <%= m.sender.username%></a><br>
</li>
<%end%>