<div class = "row">
	<div class = "category-row">
	<div class="categories">
	<%Category.all.each do  |category|%>
	<div class="category uppercase" data-id= "category.id"><a>
		<%=category.name%>
	</a></div>
	<%end%>
	</div>
	</div>
</div>