
<hr class = "category-hr">

<div class = "row center category">
  <div class="container-fluid">


     <div class = "button-group">
      <ul class="nav navbar-nav">
    
   
      	<%Category.all.each do  |category|%>
	<li class="category uppercase">
	<a href = "<%=category_url(category.id)%>">
		<%=category.name%>
	</a></li>
	<%end%>
      

      </ul>
      </div>
    </div><!-- /.navbar-collapse -->
<!-- /.container-fluid -->

</div>

