<div class = "navbar navbar-default">
	<div class = "category-row container-fluid">
	<div class="categories navbar-header">
	<div class="collapse navbar-collapse">
	<%Category.all.each do  |category|%>
	<div class="category uppercase">
	<a href = "<%=category_url(category.id)%>">
		<%=category.name%>
	</a></div>
	<%end%>
	</div>
	</div>
	</div>
</div>


