<div class = "col-md-3 col-xs-12 search-filter white">
<div class = "center row">
	<div class = "col-md-4 ">
		<label for "search_term">Search term:</label>
	</div>
	<div class = "col-md-8">
	<input class = "js-search input form-control" name = "search_term" value = "<%=@search_term%>" ></input>
	</div>
</div>
<div class = "center row">
	<div class = "col-md-4 ">
		<label for "max_deposit">Maximum deposit:</label>
	</div>
	<div class = "col-md-8">
	<input class = "js-deposit input form-control" name = "max_deposit" type = "number"></input>
	</div>
</div>
<div class = "center row">
	<div class = "col-md-4 ">
		<label for "max_rent">Maximum rental fee:</label>
	</div>
	<div class = "col-md-8">
	<input class = "js-rent input form-control" name = "max_rent" type = "number"></input>
	</div>
</div>





<div class = "center row">
	<div class = "col-md-4 ">
	<label for="distance">Distance:</label>
	</div>
	<div class = "col-md-8">
	<input class = "js-distance input form-control" name = "distance" type = "number" value = "50"></input>
	</div>
</div>
<div class = "center row">
<div class = "col-md-4 ">
	<label for "zip_code">Zip Code:</label>
	</div>
	<div class = "col-md-8">
	<input class = "js-zip input form-control" name = "zip_code" type = "number" size = 5 value = "<%=@zip%>"></input>
	</div>
	<div class = col-md-12>
	or
	<label for "use-location">use current location:</label>
	<input type="checkbox" name="use_location" class = "js-use-loc">
	</div>
</div>




	<div class = "center row">
	<button class = "btn btn-blue js-search">Search</button>
</div>
<div class = "row">
	<div id = "map"></div>
</div>
</div>
<script type="text/javascript">
	navigator.geolocation.getCurrentPosition(searchWithCurrentLocation)
</script>


