
<li><a href = "<%= user_items_url(current_user.id) %>" class="btn header-btn">
      <i class="material-icons md-36">bubble_chart</i>
      <br><span>Your items</span>
	</a></li>
<li><a href = "<%= messages_url(current_user.id) %>" class="btn header-btn">
      <%if current_user.unread_messages? %>
       <i class="material-icons md-36">markunread_mailbox</i>
      <%else%>
      <i class="material-icons md-36">mail_outline</i>
      <%end%>
      <br><span>Messages</span>
	</a></li>


<li class="dropdown user-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="material-icons md-36 account-logo">account_circle</i><br> Welcome,<br>  <%= current_user.username %> <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/users/edit">My Profile</a></li>
	    <li><a href="/users/sign_out" data-method="delete">Sign Out</a><li>
    </ul>
</li>
