<div id = "main-content">

<div class = "row">
<% unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<% end %>
<p>
  Do you need to borrow something for a party?
  Look no further!
</p>
<a href = "/nearby"> Find nearby users </a>
</div>
</div>


