// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'config';
#map{
	height: 300px;
	width: 90%;
	margin-left: auto;
    margin-right: auto;

}
label {
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;
	
}
.input{
 	width: 80%;

}
.row.category{
	position: relative;
	top: -20px;


}
li.category{
	display: inline-block;
	list-style: none;
	font: $dark-gray;
}

span.cat-btns{
	display: inline-block;

}
.search-filter{
	height: 140vh;
	font-size: 12px;
	color: $happy-green;
}
.search-filter > div >button, input{
	color: black;
}
