div.white.form-page{
	padding: 20px;
}

.btn-form{
	border-radius: 5px;
	margin: 2px;
	background-color: #3399cc;
}
.row.devise{
	text-align: center;
	position:relative;
	top: -8px;
	background-color: white;
	height:10px;
}
