@import 'config';

#footer{
	width: 100%;
	text-align: center;
    position: fixed;
    bottom: 0;
    color: black; /*#e18def;*/ 
    margin: 10px 0 0;
    background-color: $light-gray;
    border-style: solid;
    border-width: 1px;
    border-color: $light-gray;

}
#footer span{
	color: $party-pink;


}