.header{
	height: 100px;
	text-align: center;
	padding: 5px;
	width: 100%;
	background-size: cover;
	color: black;
	background-color: gray;
	margin: 0px;

}

.menu-options div{
	display: inline-block;
	float: left;
}
.menu-options{
	position: absolute;
	right: 0px;
}

.header-btn{
	border-style: none;
	background-color: gray;
	height: 80px;
}

.btn.register, .btn.login {
	font-size: 16px;
}