
@import 'config';
.navbar-default{
	border-style:none;
	background-color: white;
}

.navbar-right{
	position: relative;
	right: -20px;
}
.navbar-brand{
	height: 80px;
}

.account-logo{
	position: relative;
	left: 15px;
}
.user-dropdown{
	position:relative;
	top: 5px;
}

.header{
	height: 100px;
	text-align: center;
	padding: 5px;
	width: 100%;
	background-size: cover;
	color: black;
	margin: 0px;

}
.header-logo{
	position: absolute;
	left: 0;
	height: 80px;
}

.header-btn{
	border-style: none;
	background-color: white;
	height: 80px;
}
a.header-btn{
	margin: 4px;
	color: black;
}
.btn.login{
	border-style: solid;
	border-color: #009933;
	border-width: 2px;
	height: 40px;
	margin: 20px 0;
}

.btn.register, .btn.login {
	font-size: 16px;
}
.navbar .material-icons{
	color: #3399cc;
}

input.header-search{
	width: 90%;
	display: inline-block;
}
div.heading{
	height: 100px;

}
.search-form.header{
	height: 50px;
	position: relative;
	top: -25px;
	
}

.search-form.header > div >.btn{
	height: 34px;
	position: relative;
	top: -1px;
}
.button-group{
	float: left;
	color: $text-gray;
}

