.navbar-default{
	border-style:none;
	background-color: white;
}

@media screen and (min-width: 786px){
	.navbar-brand{
		height: 80px;
	}
}
@media screen and (min-width: 1186px){
	.navbar-brand{
		height: 80px;
	}
	.search{
	position: relative;
	top: 20px;
	}
}


.account-logo{
	position: relative;
	left: 45px;
}
.user-dropdown{
	position:relative;
	top: 5px;
}

.header{
	height: 100px;
	text-align: center;
	padding: 5px;
	width: 100%;
	background-size: cover;
	color: black;
	margin: 0px;

}
.header-logo{
	position: absolute;
	left: 0;
	height: 80px;
}

.header-btn{
	border-style: none;
	background-color: white;
	height: 80px;
}
a.header-btn{
	margin: 4px;
	color: black;
}
.btn.login{
	border-style: solid;
	border-color: #009933;
	border-width: 2px;
	height: 40px;
	margin: 20px 0;
}

.btn.register, .btn.login {
	font-size: 16px;
}
.navbar .material-icons{
	color: #3399cc;
}