
@import 'config';

html, p, div{
	font-family: Verdana, Helvetica, sans-serif;

}
h1, h2, h3, h4, h5, h6{
	font-family: Lao MN, Helvetica, sans-serif;
}
.search-div{
	position: relative;
	top: -300px;
}


.homepage-content{
	position: relative;
	top: -15px;
	height: 400px;
	padding: 5px;
	width: 100%;
	background-size: cover;

}

button.homepage{
	position: relative;
	height: 34px;
	top: 17px;
	left: 310px;
	border-color: $happy-green;
	background-color: $happy-green;

}
.bumper, .carousel-indicators{
	visibility:hidden;
}
.carousel-inner{
	visibility:hidden;
	overflow:hidden;
	height: 0px;
}
.car-image0, .car-image1, .car-image2{
	background-image: url("balloon_sky.jpeg");

}



@media screen and (min-width: 800px){

	button.homepage{
	position: relative;
	height: 34px;
	top: 17px;
	left: 310px;
	border-color: $celebration-blue;
	background-color: $celebration-blue;

}
	.mobile-inner{
		visibility: hidden;
		overflow:hidden;
		height: 0px;
	}

	 .carousel-indicators{
	 	visibility:visible;
	 }
	 .carousel-inner{
		visibility:visible;
		height: 400px;

	}
	.car-image0{
		background-image: url("outdoor_party.jpeg");

	}
	.car-image1{
		background-image: url("tea_party3.jpeg");

	}
	.car-image2{
		background-image: url("bartender.jpg");

	}
}

.homepage-content > h2{
	position: relative;
	top: 80px;
	left: 20px;
	color: white;


}


input.homepage{
	position: relative;
	top: 75px;
	left: 20px;
	width: 280px;
}


.main-content{
	position:relative;
	display: inline-block;
	width: 100%;
	overflow: scroll;
	background-color: $light-gray;
	//margin: 0 15px;
	background-size: cover;
	border-style: solid;
	border-width: 1px 0 0;
	border-color: $dark-gray;

}



.btn-blue{
	border-style: solid;
	border-color: $celebration-blue;
	border-width: 2px;
	height: 40px;
	margin: 20px 0;
	background-color: white;
}
.btn-green{
	border-style: solid;
	border-color: $happy-green;
	border-width: 2px;
	height: 40px;
	margin: 20px 0;
	background-color: white;
}
a.btn-green{
	color:black;
}
.btn-green:hover{
	background-color: $happy-green;	
}
.btn-blue:hover{
	background-color: $celebration-blue;	

}
.uppercase{
	text-transform: uppercase;
}
.bold{
	font-weight: bold;
}
.truncated {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-row{
	width: 100%;
	border-style: solid;
	border-width: 2px 0;
	border-color: $light-gray;
	height: 50px;
	background-size: cover;
}
div.categories{
	position: relative;
	left: 50px;
}

div.category{

	display: inline-block;
	margin: 0 20px;
}

.category > a{
	color: $text-gray;
}

.navbar-nav>li.category>a:hover{
	text-decoration: none;
	color: $party-pink;
	
}
.center.row{
	text-align: center;
}
div.deactivated{
	background-color: $light-gray;
	border: 1px solid $dark-gray; 
	margin: 2px;
	padding: 3px;
}
div.white{
	background-color: white;
	border: 1px solid $dark-gray; 
	margin: 2px;
	padding: 3px;
}


