// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'config';
.all-items{
	margin: 15px;
	height: 400px;
}
.white.row.item-form{

		padding: 20px;
}
.white.row.item-form > form > .row{

		padding: 20px;
}

.user-item{
	display: inline-block;
	width: 220px;
	height: 300px;
	position: relative;
	float: left;


}
div.white.user-item{
	margin: 10px;

}

.item-image{
	margin: 10px 10px 10px 5px;;
	width: 200px;
	height: 200px;
}
.item-image.large{
	width: 300px;
	height: 300px;

}
.item-content{
	margin-left: auto;
	margin-right: auto;

}

.item-box > p {
	color: black;
	padding: 3px;
	margin: 2px;


}

.new-item-input {
	position: relative;
	left: 30px;
	width:60%;
	border: solid 2px;
	margin: 5px;
}

.item-name{
	margin-left: 49px;

}


.item-desc{
	margin: 5px;
	color: black;
	font-size: 12px;
	white-space: nowrap;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
  	text-overflow: ellipsis;
	

}
.listing.row{
	margin:5px;
}
.back-link{
	float:right;
}
.cat-list{
	position:relative;
	left: 35px;
}
