// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'config';

.user-item{
	display: inline-block;
	width: 220px;
	height: 280px;
	position: relative;
	float: left;
	margin: 5px;
}

.item-image{
	margin: 10px 10px 10px 5px;;
	width: 200px;
	height: 200px;
}
.item-image.large{
	width: 300px;
	height: 300px;

}


.item-box > p {
	color: black;
	padding: 3px;
	margin: 2px;


}

.new-item-input {
	position: relative;
	left: 30px;
	width:60%;
	border: solid 2px;
	margin: 5px;
}

.item-name{
	margin-left: 49px;
}


.item-desc{
	color: black;
	font-size: 12px;
}
.listing.row{
	margin:5px;
}
.back-link{
	float:right;
}